@import "tailwindcss";

:root {
  --background: #222222;
  --foreground: #171717;
  --accent: #eb742a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #222222;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto-Slab-Regular, Roboto, Arial, Helvetica, sans-serif;
}
