@import "tailwindcss";

:root {
  --background: #222222;
  --foreground: #f1f0ec;
  --accent: #eb742a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-regular: var(--font-roboto-slab);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f1f0ec;
    --foreground: #222222;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
