@import "tailwindcss";

:root {
  --background: #222222;
  --foreground: #f1f0ec;
  --footer-background: #171717;
  --footer-foreground: #6D6D6D;
  --accent: #eb742a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-regular: var(--font-roboto-slab);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f1f0ec;
    --foreground: #222222;
    --footer-background: #171717;
    --footer-foreground: #6D6D6D;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-regular);
  min-height: screen;
  justify-items: auto;
}

/* 
p {
  pointer-events: none;
} 
  */

header nav a:hover {
  color: var(--accent);
}

footer nav a:hover {
  opacity: 0.7;
}

footer {
  background: var(--footer-background);
  color: var(--footer-foreground);
}

.scrollmodel-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 999px;
  outline: none;
}

.scrollmodel-slider::-moz-range-track {
  height: 10px;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 999px;
}

.scrollmodel-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 54px;
  height: 10px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.9);
  border: 0;
}

.scrollmodel-slider::-moz-range-thumb {
  width: 54px;
  height: 10px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.9);
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--accent);
}

button.btn {
  background-color: var(--accent);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: auto;
  max-width: fit-content;
  transition: background-color 0.3s ease, transform 0.3s ease
  
}
button.btn:hover {
  background-color: var(--footer-background);
  transform: scale(1.05);
}