@import "tailwindcss";

:root {
  --background: #222222;
  --foreground: #f1f0ec;
  --footer-background: #171717;
  --footer-foreground: #6D6D6D;
  --accent: #eb742a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-regular: var(--font-roboto-slab);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f1f0ec;
    --foreground: #222222;
    --footer-background: #171717;
    --footer-foreground: #6D6D6D;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-regular);
  min-height: screen;
}

/* 
p {
  pointer-events: none;
} 
  */

header nav a:hover {
  color: var(--accent);
}

footer nav a:hover {
  opacity: 0.7;
}

footer {
  background: var(--footer-background);
  color: var(--footer-foreground);
}